<div class="jumbotron center">
	<h1>About Tobacco Mall</h1>
	<h3>We at Tobacco Mall believe in customer satisfaction and a cordial shopping experience. Nothing makes us happier than to see you find what you are looking for! For more than five years, our little family-run business has satisfied our guests with consistency, diversity, and friendship. So come stop by and browse our awesome selection of quality tobacco products or have a go at the lottery, we always love your company - and who knows, you might even find yourself charmed by our eclectic collection of tobacco paraphernalia!</h3>
	<p>-Kee and Helen</p>
</div>