<div class="jumbotron center">
	<h1>Welcome to Tobacco Mall</h1>
	<p>
		<%= link_to 'Log in', '#', class: "btn btn-warning btn-lg" %>
		<%= link_to 'Sign up', '#', class: "btn btn-warning btn-lg" %>
	</p>
</div>