<nav class="navbar transparent navbar-fixed-bottom">
  <div>
    <div>
      <ul class="nav navbar-nav navbar-right"><li>
        <%= link_to '#about' do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>